/*index.html에 모든 css파일 적용되므로 다른 파일에 동일하게 적혀있다면 지워도 됨(이름 바꿔서 중복 방지하기)*/
/* .c_group{text-decoration: center; margin-top:15%;} 전체적인 페이지 */
/* .home{font-family: 'Do Hyeon', sans-serif; font-size:90px; padding-top:25px;}
.line{border:solid 1px #707070;}
.buttonbox{border:solid 1px #707070; border-radius: 25px; width:75%; height:350px; margin:auto; padding:0px; box-shadow:5px 10px 40px 10px #a0a0a0;} */
/*취약계층, 재난위험 버튼 모음*/
/*box-shadow 30px은 그림자 흐림, 크기가 10px인 그림자 생성*/
/* .c_button{float:left; margin:50px; font-size:60px;} */
/*취약계층, 재난위험 글자*/
/* .c_pin{width:200px; margin:30px; margin-top: 80px; float:right;}
.c_cam{width:200px; margin:10px; float:right; margin-right:40px; margin-top:100px;} */

.c_group{
    text-decoration: center; 
    margin-top:0;} /*전체적인 페이지*/
.home{
    height: 150px;
    display: flex;
    justify-content: center;
    font-family: 'Do Hyeon', sans-serif; 
    font-size:75px; 
    padding-top:35px;
    /* margin-bottom: -10px; */
}
.home_img{
    margin-top: 13px;
    width: 80px;
    height: 80px;
}
.line{
    border:solid 1px #909090;
    /* box-shadow: 0 0 10px 1px #707070; */
    box-shadow : 0 5px 20px 0 #484848;
}

/*첫번째 버튼 */
.c_group_row_first{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.buttonbox_first{
    display: flex;
    justify-content:center;
    border: solid 1px #707070;
    border-radius: 100px;
    height: 70px;
    width: 300px;
    padding: 15px ;
    margin: 0px 15px;
}
.c_first_img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.c_button_first{
    font-size: 27px;
    color: #707070;
}

.buttonbox{
    /* border:solid 1px #707070;  */
    border-radius: 25px; 
    width:34%; 
    height:320px; 
    margin: 0 25px; 
    padding:0px; 
    box-shadow:3px 5px 30px 5px #a0a0a0;
    color: #484848;
}/*취약계층, 재난위험 버튼 모음*/
/*box-shadow 30px은 그림자 흐림, 크기가 10px인 그림자 생성*/
.c_button{
    float:left; 
    margin:40px 50px 0 50px; 
    font-size:45px;
}/*취약계층, 재난위험 글자*/
.c_pin{
    width:75px; 
    margin:30px; 
    margin-top: 15px; 
    float:right;
}
.c_search{
    width:75px; 
    margin:30px; 
    margin-top: 70px; 
    float:right;
}
.c_money{
    width: 80px; 
    margin: 0 30px;
    margin-top: -40px;
    /* margin:30px;  */
    /* margin-top: 10px;  */
    float:right;
}
.c_cam{
    width:100px; 
    margin:10px; 
    float:right; 
    margin-right:40px; 
    margin-top: 20px;
}

.c_group_row{
    position: relative;
    display: flex;
    align-items: center;/*세로 가운데 정렬*/
    justify-content: center;/*가로 가운데 정렬*/
    margin-bottom: 50px;
}
.c_group_sub{
    margin: 30px 0 ;
    width: 400px;
}

.c_button_loc{
    background-color:  #001CB5;
    color: #ffffff;
}
.c_button_cam{
    background-color: #FF5900;
    color: #ffffff;
}